body{
	background-color:#0914FA ;
}
table{
	border: 2;
	background-color: #FFD700;
	border-style: solid;
	}
p{
	align:justify;
	margin-left:25px ;
	margin-right: 25px;
	margin-top: 25px;
	margin-bottom: 25px;
	margin-inline: 25px;
}
a{ color: #FFD700;}
a:hover {color: #FFFFFF;}